<!-- <h3><%#= "#{@customer.name_first}'s Dashboard" unless @customer.name_first.nil? %></h3> -->


<% @customer.orders.each_with_index do |order, index| %>
	<div class="row">
	  <div class="large-4 columns">Order Summary</div>
	  <div class="large-4 columns">Package: 5 lessons</div>
	  <div class="large-4 columns">Contact Info</div>
	</div>
	<div class="row">
	  <div class="large-12 columns">
			<%= render partial: "layouts/schedule", object: order %>
	  </div>
<% end %>

<a href=<%= purchase_path %> class="small button">Purchase Lessons</a>