input.small-9.columns.signup-field {
	width: 200px;
}

.dashboard-heading {
	text-align: center;
}

.panel {
	padding: 0px;
}

.centered {
	text-align: center;
}

.lessons-table {
	width: 100%;
}

.lesson-column {
	width: 15%;
}

.status-column {
	width: 25%;
}

th#date-column.date-column {
	width:35%;
}