input.small-9.columns.signup-field {
	width: 200px;
}

.dashboard-heading {
	text-align: center;
}

.lessons-table {
	width: 100%;
}

.lesson-column {
	width: 30px;
}

.status-column {
	width: 75px;
}

th#date-column.date-column {
	width:150px;
}