<table>
  <thead>
    <tr>
      <th width="150">Lesson</th>
      <th with="150">Status</th>
      <th width="150">Date Given</th>
    </tr>
  </thead>
  <tbody>       
    <% schedule.lessons.each_with_index do |lesson, index| %>
      <tr>
        <td>lesson <%= index + 1 %></td>
        <td><%= lesson.status %></td>
        <td>Date goes here</td>
      </tr>
    <% end %>
  </tbody>
</table>